@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using playlistimport_blazor.Data
@inject TableDataService TableDataService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (loadedSongs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in loadedSongs)
            {
                <tr>
                    <td>@song.Name</td>
                    <td>@song.Artist</td>
                    <td>@song.Year.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Song>? loadedSongs;

    protected override async Task OnInitializedAsync()
    {
        loadedSongs = await TableDataService.GetSongsAsync();
    }
}
